.main-section {
    background-color: #eef;
    height: auto;
}

.about-panel {
    height: 80vh;
    border-radius: 3px;
    background-color: $secondary;
    /* Navbar */
    &__nav {
        height: 10%;
        background-color: $primary4;
        &__tab {
            color: $white;
            font-family: 'Acme', sans-serif;
            border-bottom: 2px solid $tertiary;
            box-shadow: 1px 1px 2px #000;
            cursor: pointer;
        }
    }
    /* Info  */
    &__info__tab {
        color: $white;
        font-size: .9rem;
        p {
            font-family: monospace;
        }
        &--1 {
            display: block;
        }
        &--2 {
            display: none;
        }
    }
}