@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
    font-family: 'Poppins', sans-serif;
}


/* THEME COLORS */

$white: #eef;
$primary: #0E2E34;
$primary1: #0E2E34DD;
$primary2: #0E2E34AA;
$primary3: #0E2E3488;
$primary4: #0E2E3455;
$primary5: #0E2E3422;
$secondary: #150015;
$secondary1: #150015dd;
$secondary2: #150015aa;
$secondary3: #15001588;
$secondary4: #15001555;
$secondary5: #15001522;
$tertiary: #fc7303;
$tertiary1: #fc7303dd;
$tertiary2: #fc7303aa;
$tertiary3: #fc730388;
$tertiary4: #fc730355;
$tertiary5: #fc730322;

/* FONT SIZES */

body {
    background-color: $white;
}